/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#menu-main-nav ul.sub-menu {
  display: none;
  width: 14%;
  top: 95%;
  left: 53.5%;
}

/** ABOUT US **/
.page-template-page-templatespage-aboutus-php {
  #about-us-content {
    .footer-content {
      div {
        min-height: 265px;
      }
    }
  }
}

.page-template-page-templatespage-entrees-php {
  #entree-items {
    .entrees {
      .entree {
        h4.entree-price {
        }
      }
    }
  }
}

.header {
  .bip-header {
    #inner-header {
      .float-container {
        width: 69%;
        margin: 0 auto;
        img {
          width: 40px;
          position: relative;
          margin: 10px 15px;
          float: left;
        }
      }
      .site-title {
        width: 82%;
        h1 {
          font-size: 2.5em;
          line-height: 1em;
          margin: 10px 0;
        }
      }
    }
  }
}
